#!/bin/sh
# (c) 2016 DataNexus Inc.  All Rights Reserved.
# Licensed software not for distribution

# no arguments means describe all
if [ $# -eq 0 ] ; then
  ZOOKEEPER_HOSTS={{ groups['zookeeper_private'] | join(':' + zookeeper.config.port + ',') }}:{{ zookeeper.config.port }}
  TOPICS=`{{ dn_bin_path }}/kafka-topics --list --zookeeper $ZOOKEEPER_HOSTS`
# help
elif [ "$1" = "-h" ] ; then
  printf "Usage:  describe-topic [-h]\\thelp\\n"
  printf "\\tdescribe-topic [-z ZOOKEEPER:PORT[,ZOOKEEPER:PORT]] TOPIC [TOPIC [TOPIC]]\\tdescribe topic\\n"
  printf "Example: describe-topic connect-status\\n"
	exit 0
elif [[ $# -ge 2 && "$1" = "-z" ]] ; then
	ZOOKEEPER_HOSTS=$2
  shift && shift
  TOPICS=$@
# topics as listed
elif [ $# -ge 1 ] ; then
	ZOOKEEPER_HOSTS={{ groups['zookeeper_private'] | join(':' + zookeeper.config.port + ',') }}:{{ zookeeper.config.port }}
  TOPICS=$@
fi

for topic in $TOPICS; do
  {{ utils_path }}/kafka-topics{{ bin_suffix }} --describe --zookeeper $ZOOKEEPER_HOSTS --topic $topic
done
