#!/bin/bash
# (c) 2016 DataNexus Inc.  All Rights Reserved.
# Licensed software not for distribution
#
# chkconfig: 35 90 12
# description: kafka broker
#

# pidfile: /var/run/{{ broker_service_name }}.pid

# source function library
. /etc/init.d/functions

# which jcmd to use
if [ -z "$JAVA_HOME" ]; then
  JCMD="jcmd"
else
  JCMD="$JAVA_HOME/bin/jcmd"
fi

PID_FILE=/var/run/{{ broker_service_name }}.pid

start() {
  if [ -x `which logger` ]; then
    logger -s -t {{ broker_service_name }} 'starting service...'
  fi
  {% for key, value in kafka.environment.items() -%}
  {{ " " ~ key }}="{{ value }}"
  {%- endfor %}
  daemon --pidfile ${PID_FILE} --user {{ broker_user }} {{ apache.install_dir }}/kafka_{{ apache.packages.scala_version }}-{{ apache.packages.kafka_version }}/bin/kafka-server-start.sh {{ broker_config_file }} >> {{ kafka.environment.LOG_DIR }}/server.log 2>&1 &
  sleep 3
  ${JCMD} | grep 'io.confluent.support.metrics.SupportedKafka {{ broker_config_file }}' | /usr/bin/cut -d " " -f 1 > ${PID_FILE}
}

stop() {
  if [[ -s "${PID_FILE}" ]] ; then
    if [ -x `which logger` ]; then
      logger -s -t {{ broker_service_name }} 'stopping service...'
    fi
    killproc -p ${PID_FILE}
    sleep 3
  fi
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    status -p ${PID_FILE} java
    ;;
  restart|reload|condrestart)
    stop
    start
    ;;
  *)
    echo $"Usage: $0 {start|stop|restart|reload|status}"
    exit 1
esac

exit $?
