#!/bin/sh
#
# (c) 2016 DataNexus Inc.  All Rights Reserved.
# Licensed software not for distribution

if [ $# -eq 0 ] || [ "$1" = "-h" ] ; then
	printf "Usage:\\tconfluent-kafka [-h]\\thelp\\n"
	printf "Usage:\\tsudo -H -u {{ schema.registry.user }} {{ schema.registry.user_service }}/confluent-schema-registry [ start | stop | restart ]\\n"
	exit 0
fi

DATE=`which date`

if [ "$1" = "start" ] ; then
	printf "[%s %s] INFO Starting {{ schema.registry.service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ schema.registry.config.log_dir }}/schema-registry.log
  {% for key, value in schema.registry.environment.items() -%}
  {{ " " ~ key }}="{{ value }}"
  {%- endfor %}
  /usr/bin/nohup /usr/bin/schema-registry-start {{ schema.registry.config_file }} >> {{ schema.registry.config.log_dir }}/schema-registry.log 2>&1 &
elif [ "$1" = "stop" ] ; then
	printf "[%s %s] INFO Stopping {{ schema.registry.service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ schema.registry.config.log_dir }}/schema-registry.log
	/usr/bin/schema-registry-stop
elif [ "$1" = "restart" ] ; then
	printf "[%s %s] INFO Stopping {{ schema.registry.service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ schema.registry.config.log_dir }}/schema-registry.log
	/usr/bin/schema-registry-stop
	printf "[%s %s] INFO Starting {{ schema.registry.service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ schema.registry.config.log_dir }}/schema-registry.log
  {% for key, value in schema.registry.environment.items() -%}
  {{ " " ~ key }}="{{ value }}"
  {%- endfor %}
  /usr/bin/nohup /usr/bin/schema-registry-start {{ schema.registry.config_file }} >> {{ schema.registry.config.log_dir }}/schema-registry.log 2>&1 &
fi
