#!/bin/sh

if [ $# -eq 0 ] || [ "$1" = "-h" ] ; then
	printf "Usage:\\tkafka-connect [-h]\\thelp\\n"
	printf "Usage:\\tsudo -H -u {{ connect_user }} {{ connect.distributed.user_service }}/kafka-connect [ start | stop ]\\n"
	exit 0
fi

if [ "$1" = "start" ] ; then
	printf "[%s %s] INFO Starting {{ connect_service_name }}...\\n" `/usr/bin/date +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ connect.distributed.environment.LOG_DIR }}/connect.log
  {% for key, value in connect.distributed.environment.items() -%}
  {{ " " ~ key }}="{{ value }}"
  {%- endfor %}
  /usr/bin/nohup {{ apache.install_dir }}/kafka_{{ packages.scala_version }}-{{ packages.kafka_version }}/bin/connect-distributed.sh {{ connect_config_file }} >> {{ connect.distributed.environment.LOG_DIR }}/connect.log 2>&1 &
elif [ "$1" = "stop" ] ; then
  SIGNAL=${SIGNAL:-TERM}
  PIDS=$(ps ax | grep -i 'kafka\.connect' | grep java | grep -v grep | awk '{print $1}')

  if [ -z "$PIDS" ]; then
    echo "No kafka connect service to stop"
    exit 1
  else
    printf "[%s %s] INFO Stopping {{ connect_service_name }}...\\n" `/usr/bin/date +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ connect.distributed.environment.LOG_DIR }}/connect.log
    kill -s $SIGNAL $PIDS
  fi
fi
