#!/bin/sh
#
# (c) 2016 DataNexus Inc.  All Rights Reserved.
# Licensed software not for distribution

if [ $# -eq 0 ] || [ "$1" = "-h" ] ; then
	printf "Usage:\\tzookeeper [-h]\\thelp\\n"
	printf "Usage:\\tsudo -H -u {{ zookeeper_user }} {{ zookeeper.user_service }}/zookeeper [ start | stop | restart ]\\n"
	exit 0
fi

DATE=`which date`

if [ "$1" = "start" ] ; then
	printf "[%s %s] INFO Starting {{ zookeeper_service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ zookeeper.environment.LOG_DIR }}/zookeeper.log
  {% for key, value in zookeeper.environment.items() -%}
  {{ " " ~ key }}="{{ value }}"
  {%- endfor %}
  /usr/bin/nohup {{ apache.install_dir }}/kafka_{{ packages.scala_version }}-{{ packages.kafka_version }}/bin/zookeeper-server-start.sh {{ zookeeper_config_file }} >> {{ zookeeper.environment.LOG_DIR }}/zookeeper.log 2>&1 &
elif [ "$1" = "stop" ] ; then
	printf "[%s %s] INFO Stopping {{ zookeeper_service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ zookeeper.environment.LOG_DIR }}/zookeeper.log
	{{ apache.install_dir }}/kafka_{{ packages.scala_version }}-{{ packages.kafka_version }}/bin/zookeeper-server-stop.sh {{ zookeeper_config_file }}
elif [ "$1" = "restart" ] ; then
	printf "[%s %s] INFO Stopping {{ zookeeper_service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ zookeeper.environment.LOG_DIR }}/zookeeper.log
	{{ apache.install_dir }}/kafka_{{ packages.scala_version }}-{{ packages.kafka_version }}/bin/zookeeper-server-stop {{ zookeeper_config_file }}
	printf "[%s %s] INFO Starting {{ zookeeper_service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ zookeeper.environment.LOG_DIR }}/zookeeper.log
  {% for key, value in zookeeper.environment.items() -%}
  {{ " " ~ key  }}="{{ value }}"
  {%- endfor %}
  /usr/bin/nohup {{ apache.install_dir }}/kafka_{{ packages.scala_version }}-{{ packages.kafka_version }}/bin/zookeeper-server-start {{ zookeeper_config_file }} >> {{ zookeeper.environment.LOG_DIR }}/zookeeper.log 2>&1 &
fi
