[Unit]
Description=Apache Zookeeper
Documentation=https://zookeeper.apache.org
After=network.target remote-fs.target

[Service]
Type=simple
WorkingDirectory={{ apache.install_dir }}/kafka_{{ packages.scala_version }}-{{ packages.kafka_version }}
User={{ zookeeper_user }}
Group={{ zookeeper_group }}
ExecStart={{ apache.install_dir }}/kafka_{{ packages.scala_version }}-{{ packages.kafka_version }}/bin/zookeeper-server-start.sh {{ zookeeper_config_file }}

[Install]
WantedBy=multi-user.target
