#!/bin/bash
# (c) 2016 DataNexus Inc.  All Rights Reserved.
# Licensed software not for distribution

if [ $# -eq 0 ] || [ "$1" = "-h" ] ; then
	printf "Usage:\\tconfluent-ksql [-h]\\thelp\\n"
	printf "Usage:\\t[ sudo -H -u {{ ksql.user }} ] {{ ksql.user_service }}/confluent-ksql [ start | stop | restart ]\\n"
	exit 0
fi

# source function library
. /etc/init.d/functions

# which jcmd to use
if [ -z "$JAVA_HOME" ]; then
  JCMD="jcmd"
else
  JCMD="$JAVA_HOME/bin/jcmd"
fi

PID_FILE={{ (got_root | default('yes')) | ternary('/var/run/' + ksql.service_name + '.pid', (confluent_root + '/var/run/' + ksql.service_name + '.pid')) }}

start() {
  if [ -x `which logger` ]; then
    logger -s -t {{ ksql.service_name }} 'starting service...' &>> {{ ksql.config.logs }}/server.log
  fi
  {% for key, value in ksql.environment.items() -%}
  {{ " " ~ key }}="{{ value }}"
  {%- endfor %}
  daemon --pidfile ${PID_FILE} {{ ksql_path }}/ksql-server-start -daemon {{ ksql.config_file }} >> {{ ksql.config.logs }}/server.log 2>&1
  sleep 3
  ${JCMD} | grep 'io.confluent.ksql.rest.server.KsqlServerMain {{ ksql.config_file }}' | /usr/bin/cut -d " " -f 1 > ${PID_FILE}
}

stop() {
  if [[ -s "${PID_FILE}" ]]; then
    if [ -x `which logger` ]; then
      logger -s -t {{ ksql.service_name }} 'stopping service...' &>> {{ ksql.config.logs }}/server.log
    fi
    killproc -p ${PID_FILE}
    sleep 3
  fi
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    status -p ${PID_FILE} java
    ;;
  restart)
    stop
    start
    ;;
  *)
    echo $"Usage: $0 {start|stop|restart|status}"
    exit 1
esac

exit $?
