#!/usr/bin/env sh
# (c) 2016 DataNexus Inc.  All Rights Reserved.
# Licensed software not for distribution

if [ $# -eq 0 ] || [ "$1" = "-h" ] ; then
	printf "Usage:\\tconfluent-ksql [-h]\\thelp\\n"
	printf "Usage:\\tsudo -H -u {{ ksql.user }} {{ ksql.user_service }}/confluent-ksql [ start | stop | restart ]\\n"
	exit 0
fi

DATE=`which date`

if [ "$1" = "start" ] ; then
	printf "[%s %s] INFO Starting {{ ksql.service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ ksql.config.logs }}/server.log
  {% for key, value in ksql.environment.items() -%}
  {{ " " ~ key }}="{{ value }}"
  {%- endfor %}
  /usr/bin/nohup /usr/bin/ksql-server-start {{ ksql.config_file }} >> {{ ksql.config.logs }}/server.log 2>&1 &
elif [ "$1" = "stop" ] ; then
	printf "[%s %s] INFO Stopping {{ ksql.service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ ksql.config.logs }}/server.log
	/usr/bin/ksql-server-stop
elif [ "$1" = "restart" ] ; then
	printf "[%s %s] INFO Stopping {{ ksql.service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ ksql.config.logs }}/server.log
	/usr/bin/ksql-server-stop
	printf "[%s %s] INFO Starting {{ ksql.service_name }}...\\n" `${DATE} +'%Y-%m-%d %H:%M:%S'` | /usr/bin/tee -a {{ ksql.config.logs }}/server.log
  {% for key, value in ksql.environment.items() -%}
  {{ " " ~ key }}="{{ value }}"
  {%- endfor %}
  /usr/bin/nohup /usr/bin/ksql-server-start {{ ksql.config_file }} >> {{ ksql.config.logs }}/server.log 2>&1 &
fi
